@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header
  margin-bottom 0
  background url('../../images/header.jpg')
  background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    text-transform uppercase
    color #fff

#navbar
  background #000
.navbar-toggle
  color white
  padding 0
  margin-bottom 0
.nav
  a
    color white
    &:hover
      color black !important
.navbar-header
  background #000
.navbar-nav
  width 100%
  text-align center
  li
    float none
    display inline-block
  a
    color #fff
    text-decoration none
    &:hover
      text-decoration underline

.main-content
  margin 50px auto

fieldset
  border none

  input
    border 1px solid #cccccc
    border-radius 2px
    font-family Tahoma, sans-serif

  textarea
    width 600px
    height 120px
    border 1px solid #cccccc
    border-radius 2px
    padding 5px
    font-family Tahoma, sans-serif


  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  text-align center
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
