extend default

block content
    div.container
        div.row
            div.col-md-8.col-md-offset-2
                h1 404
                p You tried to request a page that doesn't exist. Drop me an email and I'll try and find it for you.