extend default

block content
    div.container
        div.row
            div.col-md-8.col-md-offset-2
                h1 500
                p Something went badly wrong. It's been logged. I'll make sure I fix it (honest!). 