extend default

block content
  div.row
    each post, i in posts
      div.col-md-8.col-md-offset-2
        span
          h2=post.meta.Title
            =" "
            small=post.meta.DateCreated
        p
          span Author - 
            span #{post.meta.Author}
        div !{post.html}
        hr
