extend default

block content
  div.row
    each post, i in posts
      div.col-md-8.col-md-offset-2
        span
          p=post.meta.Title
        p
          span Author - 
            span #{post.meta.Author}
        p=post.meta.DateCreated
        div!{post.html}
        hr
