extend default

block content
  if msg
    div
        p 
          i.fa.fa-thumbs-up.inline 
          span &nbsp;Awesome, I'll be in touch.
    div
    span
  else
    div
      form(action='/contact', name='contact', id='contact', method='post')
        p
          label(for='name') Name:
          br
          input(name='name', type='text', value='', id='name').form-control
        p
          label(for='email') Email:
          br
          input(name='email', type='email', value='', id='email').form-control
        p
          label(for='message') Message:
          br
          textarea(name='message', cols='40', rows='10', id='message')
        p
          input(name='submit', type='submit', value='Send', id='submit').form-control.btn.btn-primary
    div
