doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    title Julian Inwood - Software Developer
  body
    .header
      h1.page-title Hello.

    ul.nav
      li: a(href='/') Home
      li: a(href='/blog') Blog
      li: a(href='/contact') Contact
    
    .main-content
      block content

    .footer
        p https://julianinwood.co.uk #{locals.date}
      