doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/index.css')
    title Julian Inwood - Software Developer
  body
    div.header
        img.me(src="/images/me.png")
        h1.page-title Julian Inwood

    nav#menu
      ul
        li: a(href='/') Home
        li: a(href='https://github.com/jinwood',target='new') Github
        li: a(href='/blog') Blog
        li: a(href='/contact') Contact
    
        div.clear

    block content

    div
      p http://julianinwood.co.uk #{new Date().toLocaleDateString()}