extend default
br
block content
  div
   p Hi, I'm Julian, I'm a sofware developer in from Bristol, UK. 

   p I'm employed by Just Eat and work on their web foundations team, maintaining the global homepage and web dependencies.
   
   p I'm technology agnostic, and enjoy working in all languages in any platform (Mac, Linux or Windows), although my commercial experience is mostly in the Microsoft stack.  
   
   p I'm predominantly a web developer, so I am well versed in Javascript, HTML 5 and CSS. I have commercial experience with React.js and have some hobby projects in Vue.

  div
    p I use on a daily basis:
      ul
        li C#, .NET Core
        li Node.js & JavaScript
        li vim
        li Visual Studio 
        li Git
    

  div
    p You can download my resume #[a(href='/api/resume/pdf') here]