extend default

block content
  div
    p I’m a web developer who o. I began my career in Bournemouth where I gained the majority of my experience writing REST microservices with .NET Core. 
    p I primarily work in the Microsoft stack, specifically C# / .NET. I would consider myself a programming enthusiast and dabble with most other popular languages in my spare time (this site is written in node).
    p I'm predominantly a web developer, so I am well versed in Javascript, HTML 5 and CSS. For the past year I have been working almost entirely in React.js on the frontend side of things.
    p I have spent the vast majority of my proffesional life working in .NET 4.x and I am now picking up .NET Core for future projects.


  div
    p I also use on a daily basis:
    p
      ul
        li SQL Server
        li Visual Studio & Visual Studio Code
        li Git & Github
        li Microsoft Azure
    p You can view my contributions to RG's open source repositories #[a(href='https://github.com/rg-jinwood',target='new') here] and my own repositories (including the code behind this site) #[a(href='https://github.com/jinwood',target='new') here]extend default


  div
    p I’m a web developer who o. I began my career in Bournemouth where I gained the majority of my experience writing REST microservices with .NET Core. 
    p I primarily work in the Microsoft stack, specifically C# / .NET. I would consider myself a programming enthusiast and dabble with most other popular languages in my spare time (this site is written in node).

  div
    p I'm predominantly a web developer, so I am well versed in Javascript, HTML 5 and CSS. For the past year I have been working almost entirely in React.js on the frontend side of things.

  div
    p I have spent the vast majority of my proffesional life working in .NET 4.x and I am now picking up .NET Core for future projects.


  div
    p I also use on a daily basis:
    p
      ul
        li SQL Server
        li Visual Studio & Visual Studio Code
        li Git & Github
        li Microsoft Azure
  div
    p You can view my contributions to RG's open source repositories #[a(href='https://github.com/rg-jinwood',target='new') here] and my own repositories (including the code behind this site) #[a(href='https://github.com/jinwood',target='new') here]