extend default

block content
  p I'm a C# developer, currently work for an exciting startup in the centre of Bournemouth but am looking to relocate to London.  
  br
  p I primarily work in the Microsoft stack, specifically C# / .NET. I would consider myself a programming enthusiast and dabble with most other popular languages in my spare time (this site is written in node).
  br
  p I'm predominantly a web developer, so I am well versed in Javascript, HTML 5 and CSS. For the past year I have been working almost entirely in React.js on the frontend side of things.
  br
  p I have spent the vast majority of my proffesional life working in .NET 4.x and I am now picking up .NET Core for future projects.
  br
  p I also use on a daily basis:
  ul
    li SQL Server
    li Visual Studio & Visual Studio Code
    li Git & Github
    li Microsoft Azure
