extend default
br
block content
  div
    p I’m a Bristol based software developer. I began my career in Bournemouth where I gained the majority of my experience writing REST microservices with .NET Core. 
    p I primarily work in the Microsoft stack, specifically C# / .NET. I would consider myself a programming enthusiast and dabble with most other popular languages in my spare time (this site is written in node) and would consider working on other technology stacks, given the opportunity.
    p I'm predominantly a web developer, so I am well versed in Javascript, HTML 5 and CSS. I have commercial experience with React.js and have some hobby projects in Vue.

  div
    p I use on a daily basis:
    p
      ul
        li C# & .NET Core
        li Node js & JavaScript
        li SQL Server
        li Visual Studio & Visual Studio Code
        li Git
        li Microsoft Azure
    p You can view my contributions to RG's open source repositories #[a(href='https://github.com/rg-jinwood',target='new') here] and my own repositories (including the code behind this site) #[a(href='https://github.com/jinwood',target='new') here]