extend default

block content
    div
        div
            div
                p You can download my resume #[a(href='/api/resume/pdf') here]
                p Alternativly, if you prefer reading documents in JSON format, make a HTTP GET request to http://julianinwood.co.uk/api/resume/json