extend default

block content
    div.container
        div.row
            div.col-md-8.col-md-offset-2
                p You can download my resume #[a(href='/api/resume/pdf') here]
                p Alternativly, if you prefer reading documents in JSON format, make a HTTP GET request to http://julianinwood.co.uk/api/resume/json